# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Entornos virtuales ===
venv/
env/
.venv/
ENV/

# === Configuración de VS Code ===
.vscode/

# === Archivos temporales del sistema ===
.DS_Store
Thumbs.db

# === Archivos de dependencias ===
*.egg-info/
dist/
build/

# === Archivos de logs o caché ===
*.log
.cache/

# === Otros ===
*.sqlite3
